<div class="container">
 <footer class="footer">
  <small>
   copyright &copy; <a href = "https://www.google.com"> The google </a>
   by shashank sharma
  </small>
  <nav>
  	
  </nav>
 </footer>
</div>